*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3ebfff;
  margin-left: auto;
  margin-right: auto;
}

#header {
  align-items: center;
  padding-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

#header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 700px;
}

#header li {
  padding-right: 35px;
  font-size: 14px;
  color: white;
}

#header > button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: white;
  border: 0px;
}

header > img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}

main > section {
  display: flex;
}

.information {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 120px;
  width: 50%;
}

.information > h2 {
  font-weight: 600;
}

section > img {
  width: 50%;
  height: 80vh;
}

#people-information > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-bottom: 60px;
  font-size: 25px;
}

#people {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.person {
  width: 310px;
  margin-right: 20px;
}

.person > img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 88px;
  height: 50px;
  width: 50px;
}

.person > p {
  margin: 60px 0px;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
}

.person > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}

.person > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 70px;
}

#gallery-food {
  display: flex;
  height: 393px;
  margin: auto;
}

footer{
  background-color: #90d4c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

footer > h6{
  margin-top: 40px;
  color: #2e7766;
  font-size: 25px;
}

footer > ul{
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > ul > li{
  padding-right: 30px;
  color: #2e7766;
}
